<%- include("partials/UserHeader.ejs") %>

<div class="container-fluid">
    <% if (monthlyPlants.length > 0) { %>
        <div class="monthly-plants-container mx-auto">
            <div class="best-to-plant">
                <p class="current-month-text text-center m-0">Best to plant in <%= currentMonth %></p>
            </div>
            <div class="d-flex gap-4 justify-content-lg-center justify-content-sm-start py-5 px-2 mt-3" style="overflow-y: scroll;">
                <% monthlyPlants.forEach(function(plant) { %>
                    <div class="d-flex flex-column justify-content-center align-items-center" style="max-width: 190px;">
                        <div class="rounded-image-container rounded-circle p-2 d-flex align-items-center">
                            <img class="p-1" src="<%= plant.image %>" alt="<%= plant.name %>" style="width: 100%;">
                        </div>
                        <div class="d-flex justify-content-center align-items-center flex-column" style="width: 100%;">
                            <p class="m-0 text-center"><%= plant.name %></p>
                            <div style="width: 40px; background-color:#59A645; height: 5px; border-radius: 100px;"></div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    <% } else { %>
        <div class="monthly-plants-container mx-auto">
            <p class="text-center">No plants available for <%= currentMonth %>.</p>
        </div>
    <% } %>
    
        

    <div class="available-plants-container mx-auto text-center" style="overflow-y: scroll;">
        <p class="nexa-black h3 gray-text my-4">Available Plants</p>
        <div class="d-flex gap-3">
            <div class="d-flex gap-3" style="overflow-y: scroll;">
                <% plantCollections.forEach(function(plant) { %>
                    <div class="available-plants-card">
                        <img class="p-2 mt-3" src="<%= plant.image %>" alt="<%= plant.name %>" style="width: 100px; height: 100px;">
                        <p class="gray-text h4"><%= plant.name %></p>
                        <p class="gray-text"><%= plant.harvestTime %> days to harvest</p>
                        <button class="btn text-white px-3 view-plant-info green-button" data-id="<%= plant._id %>">View Info</button>
                    </div>
                <% }); %>
            </div>
        </div>   
    </div>


   <!-- Modal for displaying plant details -->
<div class="modal fade" id="plantInfoModal" tabindex="-1" aria-labelledby="plantInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px; ">
        <div class="modal-content view-plant-modal p-4">
            <div class="modal-body d-flex flex-column-reverse flex-md-column-reverse flex-lg-row justify-content-md-center" style="min-height: 400px;">
                <div class="col-lg-6 mt-3">
                    <p class="nexa-black h2 gray-text" id="plantName"></p>
                    <ul class="nav nav-pills my-4" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active light-gray-text fw-bold" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Overview</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link light-gray-text fw-bold" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Benefits</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link light-gray-text fw-bold" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Used for</button>
                        </li>
                    </ul>
                    <div class="tab-content" style="max-height: 200px; min-height: 200px; padding-right: 10px; overflow-y: scroll;" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                            <p id="overview" class="text-word-wrap"></p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                            <p id="benefits" class="text-word-wrap"></p>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                            <p id="usedFor" class="text-word-wrap"></p>
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn back-button" data-bs-dismiss="modal">Back</button>
                        <button type="button" class="btn green-button" id="showAddPlantModal">Add Plant</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                    <img id="plantImage" src="" alt="Plant Image" style="width: 100%; max-width: 400px; max-height: 400px; background-size: cover;" />
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- New Modal for adding a plant -->
 <div class="modal fade" id="addPlantModal" tabindex="-1" aria-labelledby="addPlantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 350px; margin: auto;">
        <div class="modal-content"  style="border-radius: 40px;">
            <div class="modal-body p-0">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #59A645; border-radius: 40px;">
                    <img id="plantImageForm" src="" alt="Plant Image" style="width: 100%; max-width: 300px; max-height: 300px; background-size: cover;" />
                </div>

                <form id="addPlantForm" class="p-5 ajax-form" >
                    <input type="hidden" name="userId" value="<%= userId %>"> <!-- Use passed userId here -->                     
                    <div class="form-group">
                        <label for="plantCollectionId">Select Plant</label>
                        <select class="form-control input-custom" name="plantCollectionId" id="plantCollectionId" required>
                            <option value="">Select a Plant</option>
                            <% plantCollections.forEach(function(plant) { %>
                                <option id="plantNameInput" value="<%= plant._id %>" data-harvest-time="<%= plant.harvestTime %>">
                                    <%= plant.name %>
                                </option>
                            <% }); %>
                        </select>
                        <input type="text" name="plantingInstructions" hidden>
                        <input type="text" name="harvestTime" hidden>
                    </div>
            
                    <div class="form-group">
                        <label for="plantingDate">Planting Date:</label>
                        <input type="date" name="plantingDate" class="form-control input-custom" required>
                    </div>
            
                    <div class="form-group">
                        <label for="location">Select Location</label>
                        <select class="form-control input-custom" name="location" id="location" required>
                            <option value="">Select Location</option>
                            <% locations.forEach(function(loc) { %>
                                <option value="<%= loc._id %>"><%= loc.name %></option>
                            <% }); %>
                            <option value="custom">Add Custom Location</option>
                        </select>
                        <input type="text" id="customLocation" name="customLocation" class="form-control" placeholder="Enter custom location" style="display: none;">
                        <button type="button" class="btn btn-warning" id="submitCustomLocation" style="display: none;">Submit Custom Location</button>
                    </div>
            
                    <div class="form-group">
                    <label for="methodOfPlanting">Method of Planting</label>
                    <select class="form-control input-custom" name="methodOfPlanting" id="" required>
                        <option value="" selected >Select Method of Planting</option>
                        <option value="Direct Sowing">Direct Sowing</option>
                        <option value="Transplanting Seedlings">Transplanting Seedlings</option>
                    </select>
                    </div>

                    <div class="mt-4">
                        <button type="button" class="btn back-button" data-bs-dismiss="modal">Back</button>
                        <button type="submit" class="btn green-button submit-button">Add Plant</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Notification div for success message -->
<div id="successNotification" class="alert alert-success d-none position-fixed" style="top: 20px; right: 20px; z-index: 1051; display: flex; align-items: center; border-radius: 40px;">
    <i class="fas fa-check-circle" style="font-size: 24px; margin-right: 10px;"></i>
    <span>Plant has been added successfully!</span>
</div>


</div>
</div>

<%- include("partials/UserFooter.ejs") %>

<script>
$(document).ready(function() {
    function clearForm() {
            // Reset the form fields
            $('#addPlantForm')[0].reset();

            // Hide the custom location input and button if it was shown
            $('#customLocation').hide().val('');
            $('#submitCustomLocation').hide();
        }

    $('.view-plant-info').click(function() {
        const plantId = $(this).data('id');

        $.ajax({
            url: `/plant-details/${plantId}`,
            method: 'GET',
            success: function(response) {
                if (response.success) {
                    $('#plantName').text(response.plant.name);
                    $('#plantImage').attr('src', response.plant.image);
                    $('#overview').text(response.plant.overview);
                    $('#benefits').text(response.plant.benefits);
                    $('#usedFor').text(response.plant.usedFor);
                    $("#plantImageForm").attr('src', response.plant.image);
                    $('#selectedPlantId').val(response.plant._id);
                    $('#plantInfoModal').modal('show');
                } else {
                    alert('Plant not found.');
                }
            },
            error: function() {
                alert('Error fetching plant information.');
            }
        });
    });

    $('#showAddPlantModal').click(function() {
        $('#plantInfoModal').css('z-index', "1050");
        $('#addPlantModal').modal('show');
    });

    $('#addPlantModal').on('hidden.bs.modal', function (e) {
        $('#plantInfoModal').css('z-index', "1050");
    });

    $('.back-button').on('click', function() {
            clearForm();
        });

    $('#location').change(function() {
        if ($(this).val() === 'custom') {
            $('#customLocationGroup').show();
        } else {
            $('#customLocationGroup').hide();
        }
    });


  

    $('#addPlantModal').on('hidden.bs.modal', function() {
            clearForm();
        });
        $('#addPlantForm').on('submit', function(e) {
    e.preventDefault(); // Prevent default form submission

    // Disable the submit button to prevent multiple submissions and change the text
    const submitButton = $('#addPlantForm button[type="submit"]');
    submitButton.prop('disabled', true).text('Processing...');

    $.ajax({
        type: 'POST',
        url: '/add-new-plant', // Adjust this URL if necessary
        data: $(this).serialize(), // Serialize form data
        success: function(response) {
            // Show the success notification
            const notification = $('#successNotification');
            notification.removeClass('d-none').fadeIn(300);

            // Hide the notification after 3 seconds
            setTimeout(function() {
                notification.fadeOut(300, function() {
                    notification.addClass('d-none');
                });
            }, 3000);

            // Clear the form and close the modal
            $('#addPlantForm')[0].reset();
            $('#addPlantModal').modal('hide');

            // Reset the submit button to its original state
            submitButton.prop('disabled', false).text('Add Plant');
        },
        error: function(xhr, status, error) {
            // Log the error or display an error message
            console.error('Error: ' + xhr.responseText);

            // Reset the submit button to its original state in case of an error
            submitButton.prop('disabled', false).text('Add Plant');
        }
    });
});


        // Show custom location input when 'Add Custom Location' is selected
        $('#location').change(function() {
            if ($(this).val() === 'custom') {
                $('#customLocation').show();
                $('#submitCustomLocation').show();
            } else {
                $('#customLocation').hide();
                $('#submitCustomLocation').hide();
            }
        });
});

document.getElementById('location').addEventListener('change', function() {
    const selectedValue = this.value;
    const customLocationInput = document.getElementById('customLocation');
    const submitButton = document.getElementById('submitCustomLocation');

    if (selectedValue === 'custom') {
        customLocationInput.style.display = 'block';
        customLocationInput.value = ''; // Clear the input field
        submitButton.style.display = 'block'; // Show the submit button
    } else {
        customLocationInput.style.display = 'none';
        customLocationInput.value = ''; // Clear the input field if not custom
        submitButton.style.display = 'none'; // Hide the submit button
    }
});

// Add functionality to the submit button for the custom location
document.getElementById('submitCustomLocation').addEventListener('click', function() {
    const customLocation = document.getElementById('customLocation').value;

    if (customLocation) {
        fetch('/add-custom-location', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name: customLocation }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const locationsDropdown = document.getElementById('location');
                const newOption = document.createElement('option');
                newOption.value = data.location._id; // Assuming you return the new location object with its ID
                newOption.textContent = data.location.name;
                locationsDropdown.appendChild(newOption);
                locationsDropdown.value = newOption.value; // Set the newly added location as selected
                $('#addLocationModal').modal('hide'); // Close the modal if you're using one
                document.getElementById('customLocation').value = ''; // Clear input
            } else {
                alert('Error adding custom location: ' + data.message);
            }
        })
        .catch(err => {
            console.error('Error:', err);
            alert('Failed to add custom location.');
        });
    } else {
        alert('Please enter a custom location.');
    }
});

document.getElementById('plantCollectionId').addEventListener('change', function() {
    const plantId = this.value;

    if (plantId) {
        fetch(`/plant-details/${plantId}`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('plantDetails').style.display = 'block';
                    document.getElementById('plantName').textContent = data.plant.name;
                    document.getElementById('plantingInstructions').textContent = data.plant.plantingInstructions;
                    document.getElementById('plantImage').src = data.plant.image;
                    document.getElementById('harvestTime').textContent = data.plant.harvestTime;
                } else {
                    document.getElementById('plantDetails').style.display = 'none';
                }
            })
            .catch(err => {
                console.error('Error fetching plant details:', err);
                document.getElementById('plantDetails').style.display = 'none';
            });
    } else {
        document.getElementById('plantDetails').style.display = 'none';
    }
});
</script>
