<%- include("partials/AdminHeader.ejs") %>

<div class="container">
  <h1>Pending Registration</h1>
  <div class="table-responsive">
    <table id="pendingUsersTable" class="display table mt-5">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% pendingUsers.forEach(user => { %>
          <tr>
            <td><%= user.firstname %> <%= user.lastname %></td>
            <td><%= user.email %></td>
            <td><%= user.status %></td>
            <td>
              <form action="/admin/verify-user/<%= user._id %>" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-success btn-sm">Verify</button>
              </form>
              <form action="/admin/reject-user/<%= user._id %>" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">Reject</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
 

  <h4>Received Emails</h4>
  <div class="table-responsive">
    <table id="example" class="display table mt-5">
      <thead>
        <tr>
          <th class="col-lg-1">Profile</th>
          <th>Status</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Date Sent</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% emails.forEach(email => { %>
          <tr>
            <td class="d-flex justify-content-center"> <img src="/<%= email.profilePicture  %>" alt="" width="50" height="50"></td>
            <td><%= email.read ? 'ðŸ“¤' : 'âœ‰ï¸' %></td>
            <td>
              <a href="#" class="email-link" data-id="<%= email._id %>"><%= email.email %></a>
            </td>
            <td><%= email.subject %></td>
            <td><%= email.dateSent.toLocaleString() %></td>
            <td>
              <a class="btn btn-primary btn-sm" href="/admin/email/<%= email._id %>">View</a>
              <button type="button" class="btn btn-danger btn-sm delete-button" data-id="<%= email._id %>">Delete</button>
              <form id="delete-form-<%= email._id %>" action="/admin/emails/delete/<%= email._id %>" method="POST" style="display:none;"></form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  
</div>

<!-- Confirmation Modal -->
<div id="confirmationModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this email?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" id="cancelDelete" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning" id="confirmDelete">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
 document.addEventListener("DOMContentLoaded", function() {
    // Initialize DataTables
    new DataTable('#pendingUsersTable');
    new DataTable('#example');

    var emailLinks = document.querySelectorAll(".email-link");

    emailLinks.forEach(function(link) {
      link.addEventListener("click", function(event) {
        event.preventDefault();
        var emailId = link.getAttribute("data-id");
        // Add your code to handle the email link click event
      });
    });
    var deleteButtons = document.querySelectorAll(".delete-button");
    var modal = document.getElementById("confirmationModal");
    var confirmDeleteButton = document.getElementById("confirmDelete");
    var emailIdToDelete;

    deleteButtons.forEach(function(button) {
      button.addEventListener("click", function(event) {
        emailIdToDelete = button.getAttribute("data-id");
        modal.style.display = "block";
      });
    });
    confirmDeleteButton.addEventListener("click", function() {
      var form = document.getElementById("delete-form-" + emailIdToDelete);
      form.submit();
    });
    document.getElementById("cancelDelete").addEventListener("click", function() {
      modal.style.display = "none";
    });
    // Close the modal when the user clicks outside of it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  });
</script>

<%- include("partials/AdminFooter.ejs") %>
