
<%- include("partials/UserHeader.ejs") %>

<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button id="menu-toggle" class="btn">
            <i class="fas fa-bars" id="menuIcon"></i>
        </button>
        <p class="m-0">Email Us</p>
    </nav>

        <div class="container p-0 ">
            <!-- EMAIL SECTION -->
                <form class="form-container form-control p-4" action="/send-mail" method="post"> 
                <% if(locals.emailSent){ %>
                    <p class="wrongCridentials bg-success hvr-wobble-horizontal"><%= emailSent %></p>
                <% } %>
            <div class="row">
                <input hidden type="text" name="profilePicture"<% if (locals.profilePicture) { %>
                    value="<%= profilePicture %>"
                <% } %>>
                <div hidden class="col-lg-3 col-md-12"><input class="form-control"  type="text" name="name" <% if(locals.name) { %>
                value="<%= name %>"<% } %> placeholder="Name"></div>

                <div hidden class="col-lg-3 col-md-12" ><input class="form-control" type="email" name="email"
                    <% if (locals.email) { %>
                        value="<%= email %>"
                    <% } %> placeholder="Email"></div>
                <div class="col-lg-3 col-md-12"><input class="form-control" type="text" name="subject" placeholder="Subject"></div>
            </div>
                    <textarea class="form-control textMessage" name="message" id="" rows="7" placeholder="Message"></textarea>
                    <button type="submit" class="send-btn btn btn-success">Send</button>
                </form>
        </div>
</div>


<%- include("partials/UserFooter.ejs") %>
