<%- include("partials/UserHeader.ejs") %>

<div class="container">


<h1>Posts</h1>

<% posts.forEach(post => { %>
  <div>
    <p><strong><%= post.userId.firstname %> <%= post.userId.lastname %>:</strong> <%= post.title %></p>
    <p><a href="/post/<%= post._id %>">View Post</a></p>
  </div>
  <hr>
<% }) %>

<h2>Create a New Post</h2>
<form action="/create" method="POST" enctype="multipart/form-data">
  <div>
    <label for="title">Post Title</label>
    <input type="text" name="title" placeholder="Enter title" required>
  </div>
  <div>
    <label for="content">Post Description</label>
    <br>
    <textarea  class="form-control" name="content" placeholder="Write something..." required></textarea>
  </div>
  <div>
    <label for="image">Upload an Image</label>
    <input type="file" class="form-control" name="image" accept="image/*">
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>

</div>
<%- include("partials/UserFooter.ejs") %>