<%-include("partials/AdminHeader.ejs")  %>

<body>

    <section id="info-section">
        <div class="container">

            <h3>Email Details</h3>
            <div class="row ">
                <div class="col-lg-6"><p><strong>From:</strong> <%= email.name %> (<%= email.email %>)</p></div>
                <div class="col-lg-6 d-flex justify-content-end"> <p style="font-size: 15px;"><strong>Date Sent:</strong> <%= email.dateSent.toISOString().split('T')[0] %></p></div>
            </div>
       
        <p><strong>Subject:</strong> <%= email.subject %></p>
         
     
    
        <div class="row shadow p-3 mb-5 bg-body rounded" style="border-radius: 10px;">
            <p><strong>Message:</strong></p>
            <p><%= email.message %></p>
    
        </div>
       
       
        <a class="btn btn-primary" href="/admin/emails">Back to Emails</a>
    
        </div>
        
    </section>
   

</body>

<%- include("partials/AdminFooter.ejs") %>